main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #021216;
  margin: 1em;
  background-color: #ffffff;


}

main h2 {
  display: flex;
  align-self: center;
  margin: 1em;
  color: #093e4d;
}
.card-img-top {

  width: 95%%;
  height: 20vw;
  object-fit: cover;
}
#btn-start-quize:hover{
  background-color: #74c1d6;
}


#btn-start-quize{
   background-color: #07495c;
 }
 .card-text{
  font-size:19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.col-12 col-lg-3{
  background-color: darkslateblue;
}
.card-img-top:hover{
  border: 5px solid  #07495c;
  box-shadow: #60a7bb;
}
