main{
  background-color: #ffffff;
}
.new-quiz-page {
  display: flex;
  flex-direction: column;
  padding: 2em;

}

label{
  padding: .5em;
}


.new-quiz-details {
  display: flex;
  flex-direction: column;
}

.table td, .table th {
  padding: non;
  vertical-align: top;
  border-top:none
}


tr  td:nth-child(2){
 padding-top:1.5em;
}
tr  td:nth-child(1) {
  padding-top: 0;
}

main form div.btns-left-side{
  display: flex;
  border: non;

}
